* {
  box-sizing: border-box;
}

.timeline-wrapper {
  font-family: Verdana, Helvetica, sans-serif;
  display: block;
  width: 100%;
  height: 50vh;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  min-height: 50vh;
  height: inherit;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: rgba(120, 120, 120, 0.9);
  top: 0;
  bottom: 0;
  margin: 1.4rem;
  height: inherit;
}

/* Container around content */
.container-item {
  padding: 0.2rem;
  position: relative;
  background-color: inherit;
  display: flex;
  align-self: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  width: 100%;
}

/* The circles on the timeline */
.container-item::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: rgba(120, 120, 120, 0.9);
  top: 40%;
  left: 0;
  margin-left: 1.08rem;
  border-radius: 50%;
  z-index: 1;
  transition: all .35s 0s cubic-bezier(.33, .66, .4, .84);
}

.container-item:hover::before {
  background-color: rgba(200, 200,200, 1);
  transition: all .35s 0s cubic-bezier(.33, .66, .4, .84);
}

/* The actual content */
.content {
  padding: .2rem;
  margin-left: 2rem;
  width: 100%;
  background-color: white;
  position: relative;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 20% 15% auto auto;
  align-self: center;
  align-items: center;
  vertical-align: middle;
  align-content: center;
  transition: all .35s 0s cubic-bezier(.33, .66, .4, .84);
}

.content:hover {
  background-color: rgba(225, 225, 225, .6);
  transition: all .35s 0s cubic-bezier(.33, .66, .4, .84);
}
